DEBUG=True
SECRET_KEY=careconnect-super-secret-key-production-change-me-30sec-timer
ALLOWED_HOSTS=*
DATABASE_URL=sqlite:///db.sqlite3
CORS_ALLOW_ALL_ORIGINS=True
JWT_ACCESS_EXPIRATION_MINUTES=60
JWT_REFRESH_EXPIRATION_DAYS=7
ESCALATION_TIMER_SECONDS=30
